In [21]:
import pandas as pd
import numpy as np

In [22]:
df=pd.read_excel(r'C:\Users\maryom\Desktop\medical data\ER\Hospital ER_EDITED.xlsx')

In [23]:
df.head()

,DATE,TIME,patient_id,patient_gender,patient_age,patient_sat_score,patient_first_inital,patient_last_name,patient_race,patient_admin_flag,patient_waittime,department_referral
0,2019-04-01,2019-04-01 01:13:16,145-39-5406,M,69,10.0,H,Glasspool,White,False,39,None
1,2019-04-01,2019-04-01 02:13:16,316-34-3057,M,4,NaN,X,Methuen,Native American/Alaska Native,True,27,None
2,2019-04-01,2019-04-01 03:13:16,897-46-3852,F,56,9.0,P,Schubuser,African American,True,55,General Practice
3,2019-04-01,2019-04-01 04:13:16,358-31-9711,F,24,8.0,U,Titcombe,Native American/Alaska Native,True,31,General Practice
4,2019-04-01,2019-04-01 05:13:16,289-26-0537,M,5,NaN,Y,Gionettitti,African American,False,10,Orthopedics

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9216 entries, 0 to 9215
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DATE                  9216 non-null   datetime64[ns]
 1   TIME                  9216 non-null   datetime64[ns]
 2   patient_id            9216 non-null   object
 3   patient_gender        9216 non-null   object
 4   patient_age           9216 non-null   int64
 5   patient_sat_score     2517 non-null   float64
 6   patient_first_inital  9216 non-null   object
 7   patient_last_name     9216 non-null   object
 8   patient_race          9216 non-null   object
 9   patient_admin_flag    9216 non-null   bool
 10  patient_waittime      9216 non-null   int64
 11  department_referral   9216 non-null   object
dtypes: bool(1), datetime64[ns](2), float64(1), int64(2), object(6)
memory usage: 801.1+ KB

In [25]:
df1=df.groupby(df['patient_gender']).patient_id.count()

In [26]:
df2=df.groupby(['patient_gender','patient_race']).patient_age.count()

In [27]:
df3=df.groupby(['patient_gender','patient_age']).patient_id.count()

In [126]:
#plot
df4=df.groupby(['department_referral']).patient_id.count().nlargest(10)
df4

department_referral
None                5400
General Practice    1840
Orthopedics          995
Physiotherapy        276
Cardiology           248
Neurology            193
Gastroenterology     178
Renal                 86
Name: patient_id, dtype: int64

In [85]:
df.groupby(['department_referral']).patient_waittime.mean().nlargest(10)

department_referral
Neurology           36.803109
Physiotherapy       36.565217
Gastroenterology    35.831461
Cardiology          35.354839
None                35.293148
Orthopedics         34.982915
General Practice    34.912500
Renal               34.697674
Name: patient_waittime, dtype: float64

In [86]:
df.groupby(['patient_gender']).patient_waittime.agg(['mean','min','max'])

                     mean  min  max
patient_gender
F               35.105416   10   60
M               35.397450   10   60
NC              37.166667   10   59

In [90]:
df.groupby(['DATE']).patient_id.count().agg(['min','max','mean'])

min      1.000000
max     24.000000
mean    23.937662
Name: patient_id, dtype: float64

In [106]:
#plot
df.groupby(['department_referral']).patient_sat_score.mean()

department_referral
Cardiology          5.140845
Gastroenterology    5.796296
General Practice    5.061630
Neurology           5.283019
None                4.953472
Orthopedics         4.858621
Physiotherapy       4.987952
Renal               4.565217
Name: patient_sat_score, dtype: float64

In [113]:
df.groupby(['department_referral','patient_admin_flag']).patient_admin_flag.count().nlargest(20)

department_referral  patient_admin_flag
None                 True                  2736
                     False                 2664
General Practice     False                  953
                     True                   887
Orthopedics          True                   498
                     False                  497
Physiotherapy        False                  139
                     True                   137
Cardiology           False                  126
                     True                   122
Neurology            True                    97
                     False                   96
Gastroenterology     False                   89
                     True                    89
Renal                True                    46
                     False                   40
Name: patient_admin_flag, dtype: int64

In [123]:
#plot
df.groupby(['patient_gender','department_referral']).patient_id.count()

patient_gender  department_referral
F               Cardiology              118
                Gastroenterology        100
                General Practice        906
                Neurology               100
                None                   2629
                Orthopedics             453
                Physiotherapy           139
                Renal                    42
M               Cardiology              130
                Gastroenterology         77
                General Practice        928
                Neurology                93
                None                   2757
                Orthopedics             539
                Physiotherapy           137
                Renal                    44
NC              Gastroenterology          1
                General Practice          6
                None                     14
                Orthopedics               3
Name: patient_id, dtype: int64